<mat-sidenav-container
  class="sidenavContainer"
  [class.shrunk]="collapsed && !isSmallScreen"
  [class.wide]="!collapsed && !isSmallScreen"
>
  <mat-sidenav
    #sidenav
    [mode]="isSmallScreen ? 'over' : 'side'"
    [opened]="!isSmallScreen ? true : sidenavOpened"
    class="appSidenav"
    [class.collapsed]="collapsed"
  >
    <div class="sidenavHeader">
      <button mat-icon-button (click)="toggleCollapsed()" aria-label="Toggle menu">
        <mat-icon>{{ collapsed ? 'chevron_right' : 'chevron_left' }}</mat-icon>
      </button>

      <span class="brand" *ngIf="!collapsed">
        <!-- logo / brand here -->
      </span>
      <br />
    </div>

    <mat-nav-list role="navigation" aria-label="Main">
      <a
        mat-list-item
        *ngFor="let item of menuItems; trackBy: trackByLabel"
        [routerLink]="item.route"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
        matTooltip="{{ item.label }}"
        matTooltipPosition="right"
        [matTooltipDisabled]="!collapsed"
        (click)="onNavItemClick(item)"
      >
        <mat-icon matListIcon aria-hidden="true">{{ item.icon }}</mat-icon>
        <span class="itemLabel" matLine *ngIf="!collapsed">&nbsp;{{ item.label }}</span>
        <span class="spacer"></span>
        <mat-icon *ngIf="item.badge" class="badgeIcon" aria-hidden="true"
          >fiber_manual_record</mat-icon
        >
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- top bar with menu button visible on small screens 
    <mat-toolbar class="topbar" role="banner">
      <button
        mat-icon-button
        class="mobileMenuBtn"
        *ngIf="isSmallScreen"
        aria-label="Open menu"
        (click)="openSidenav()"
      >
        <mat-icon>menu</mat-icon>
      </button>

      <span class="toolbarTitle">
        <img src="/logoMainSmall.png" alt="PulsePoint Logo" width="160" />
      </span>
      <span class="toolbarSpacer"></span>
     
    </mat-toolbar>

     floating menu button fallback for very small screens or if toolbar is hidden -->
    <button
      mat-fab
      class="mobileFab"
      *ngIf="isSmallScreen"
      aria-label="Open navigation"
      (click)="openSidenav()"
      type="button"
    >
      <mat-icon>menu</mat-icon>
    </button>

    <div class="content">
      <div class="feedBodyWrapper">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
