<div style="display: flex; height: 100vh">
  <!-- Left Panel -->
  <app-settings-sidebar (categorySelected)="onCategoryChange($event)"> </app-settings-sidebar>

  <!-- Right Panel -->
  <div style="flex: 1; padding: 24px">
    <h2>{{ selectedCategory | titlecase }}</h2>
    <ng-container [ngSwitch]="selectedCategory">
      <div *ngSwitchCase="'news'">
        <p>Here go your News Preference settings...</p>
      </div>

      <div *ngSwitchCase="'account'">
        <button mat-flat-button style="background-color: crimson" (click)="openDeleteDialog()">
          Delete Account
        </button>
      </div>
      <div *ngSwitchCase="'privacy'">
        <p>Here go your Privacy settings...</p>
      </div>

     <!-- subscriptions section -->
<div *ngSwitchCase="'subscriptions'">
  <ng-container *ngIf="plantype$ | async as planType">
    <!-- NOT SUBSCRIBED -->
    <button
      *ngIf="planType === 'FREE'"
      mat-flat-button
      color="primary"
      (click)="subscribe()"
    >
      Subscribe
    </button>

    <!-- SUBSCRIBED -->
    <button
      *ngIf="planType !== 'FREE'"
      mat-flat-button
      color="warn"
      (click)="cancelSubscription()"
    >
      Cancel Subscription
    </button>
  </ng-container>
</div>


      <div *ngSwitchDefault>
        <p>Select a category from the sidebar.</p>
      </div>
    </ng-container>
  </div>
</div>