<mat-toolbar color="primary" class="navbar">
  <a mat-button class="logo" aria-disabled="true" href="/feed">
    <img src="/logoMainSmall.png" alt="PulsePoint Logo" width="200" />
  </a>

  <span style="flex: 1 1 auto"></span>

  <div class="nav-links">
    <ng-container *ngIf="username$ | async as username; else loggedOut">
      <!--<a mat-button routerLink="/feed">Home</a>-->
      <!--<a mat-button routerLink="/user-settings">Settings</a>-->
      <!--<a mat-button (click)="logout()">Log Out</a>-->
    </ng-container>

    <ng-template #loggedOut>
      <a mat-button routerLink="/login">Log In</a>
      <a mat-button routerLink="/signup">Register</a>
    </ng-template>
  </div>
</mat-toolbar>
